<header class="mb-auto">
  <div>
    <h3 class="float-md-left mb-0">Khalil Najjar</h3>
    <nav class="nav nav-masthead justify-content-center float-md-right">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'About', about_path, class: 'nav-link' %>
      <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      <%= link_to 'Blogs', blogs_path, class: 'nav-link' %>
      <%= link_to 'Portfolio', portfolios_path, class: 'nav-link' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>