<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="<%= @seo_keywords %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container mb-auto">
  <header class="hero-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="hero-header-logo text-dark" href="#">Portfolios</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <% if current_user.is_a?(User) %>
          <p>Hello, <%= current_user.first_name.capitalize %></p>
        <% end %>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <%= render 'shared/navbar' %>
    </nav>
  </div>
</div>
<body>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
